    <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}"
         ng-repeat="todo in todos | orderBy: ['completed', '-id']">
      <input type="checkbox" ng-model="todo.completed" />
      <span ng-click="todo.completed = !todo.completed; todo.edited = true; saveTodos()"></span>
      <label ng-hide="editing" ng-click="editing=true">{{ todo.name }}</label>
      <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="todo.name"
             ng-change="todo.edited = true; saveTodos()"/>
      <div class="actions">
        <a href="" class="delete" ng-click="deleteTodo(todo)">Delete</a>
      </div>
    </div>